#card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  #price {
    color: green;
    font-size: 22px;
  }
  
  #btn{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  #btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
  }